:root {
    font-size: 16px;
    font-family: "Ubuntu Condensed", sans-serif;
    --text-primary: black;
    --text-secondary: white;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 1s;
    --drawer-color: #0ea5e9;
    --drawer-width: clamp(210px, 22vw, 325px);
    --nav-bg-1: #f8f8f8;
    --nav-color-1: #c9c9c9;
    --nav-color-2: #62daff6e;
    --blue-1: #084c61;
    --content-gray: rgb(235, 235, 235);
  }

* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h2 {
    color: black;
    text-align: center;
    font-weight: 300;
    margin: 20px 20px;
}

.books {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
    flex-wrap: wrap;
    margin-bottom: 5em;
}
.card {
    padding: 3em;
    color: white;
    background-image: linear-gradient(to bottom right, pink, black);
    font-weight: 300;
    border-radius: 5px;
    width: 250px;
    position: relative;
    transition: .1s ease;
    
}

.card:hover {
  transform: scale(1.05);
}



.delete {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 1.5rem;
    border: none;
    color: black;
    border-radius: 50%;
    background-color: transparent;
    color: red;
    width: 30px;
    height: 30px;
    transition: .1s ease;
}

.delete:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: rgb(83, 13, 13);
}

h3 {
    text-align: center;
    font-size: 2rem;
    color: black;
    font-weight: 300;
    margin-top: 5%;
    text-transform: uppercase;
    text-decoration:underline;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 5em;
    background-image: linear-gradient(to bottom right, pink, black);
}

.flex button {
    padding: 1px 40px;
    height: auto;
    border: none;
    background-color: rgb(33, 154, 175);
    border-radius: 5em;
    color: white;
    font-size: 1rem;
}

.flex button:hover {
    cursor:pointer;
    background-color: rgb(33, 154, 175,.75);
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.user img {
    width: 80px;
    border-radius: 50%;
}

.user .name {
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.desc {
    font-size: 1rem;
    font-weight: 300;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 30vh; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    padding: 5px 5px 5px 20px;
    border: 1px solid #888;
    width: 350px;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: auto;
    margin-right: 5px;
  }
  
  .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-form {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-title {
    font-size: xx-large;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .modal-form {
    padding-top: 5px;
  }
  .modal-form-input {
    border: 0;
    margin-left: auto;
    background-color: rgba(44, 66, 164, 0.198);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
  }
  .modal-input-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
  }
  .container {
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 8px;
    height: 25px;
    width: 25px;
    background-color: rgba(44, 66, 164, 0.198);
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .modal-read {
    padding-top: 10px;
  }
  .btn {
    display: flex;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 5em;
    margin-bottom: 20px;
    padding: 20px 50px;
    position: relative;
    left: 8em;
    margin-bottom: 20px;
    background-color: #0ea5e9;
  }

.btn:hover {
    cursor: pointer;
    background-color: #0ea4e993;
}




